body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
h1 {
  text-align: center;
}
form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#todoInput {
  flex-grow: 0.5;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #007bff;
  outline: none;
}
button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #a5c7ec;
  color: #fff;
  border-radius: 10px;
  width: 60px;
  color:#fff;
  border-color: #fff;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 30;
  margin: 30;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 3px solid #c6c7eb;
}
.deleteButton {
  background-color: #12d433;
  color: #2815cf;
  border: none;
  cursor: pointer;
}